<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>477865705995-ts55uc1rf1k057onl8g6qacjum6rn02a.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477865705995-ts55uc1rf1k057onl8g6qacjum6rn02a</string>
	<key>API_KEY</key>
	<string>AIzaSyD_ivEOo8LyPQwArxdCDrkMv__OpHNcIfk</string>
	<key>GCM_SENDER_ID</key>
	<string>477865705995</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.atpoet</string>
	<key>PROJECT_ID</key>
	<string>at-poet</string>
	<key>STORAGE_BUCKET</key>
	<string>at-poet.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477865705995:ios:4062b0dd8e15063a58bd0e</string>
</dict>
</plist>